*{
 margin: 0
 padding: 0;
 box-sizing: border-box;
 font-family: Verdana , sans-serif;
}

/*----------------NAV BAR-------------------*/

.nav{
 position: absolute;
 z-index: 2;
 padding: 10px;
 width: 100%;
 height: 20vh;
 background-color: #fff;
 display: flex;
 align-items: center;
 box-shadow: 0 4px 8px rgba(20, 20, 20, 0.5);
}

.logo{
  padding: 20px;
}

.shape{
 width: 100px;
 height: 100px;
 border-radius: 10%;
 background-image: url('images/logo3.jpeg');
 background-size: cover;
 background-position: center;
}

.nav-list{
 height: 20vh;
 margin-left: 60%;
 list-style: none;
 display: flex;
 align-items: center;
 gap: 20px;
}

/*--------------------------------------------------*/

/*-------------------BODY--------------------------*/

.container{
 padding-top: 150px;
 width: 100%;
 height: 100vh;
 background-color: #fff;
 display: flex;
 justify-content: center;
 justify-content: space-evenly;
 align-items: center;
}

.card{
 padding-top: 10px;
 width: 300px;
 height: auto;
 border-radius: 8%;
 border: solid 1px rgba(20, 20, 20, 0.5);
 background-color: #fff;
 display: flex;
 align-items: center;
 flex-direction: column;
}

.card-image{
 width: 270px;
 height: 230px;
 border-radius: 10px;
 overflow: hidden;
}

.card-image img{
 width: 280px;
 height: 240px;
}

.product-name{
 margin-top: 20px;
 font-weight: 600;
}

.product-price{
 margin-top: 10px;
 font-weight: 600;
}

.product-rating{
 margin-top: 20px;
}

.add-to-cart{
 font-weight: 600;
 margin: 30px;
 width: 200px;
 height: 60px;
 border: none;
 outline: none;
 border-radius: 20px;
 background-color: #ffa500;
}


/*--------------------------------------------------*/